@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.sun-input-style[type="checkbox"] {
  display: none; }

.sun-toggle-container .moon-craters {
  content: "";
  position: absolute;
  height: 4px;
  width: 65px;
  background-color: #C2E7F9;
  border-radius: 50%;
  left: calc(50% - 0px);
  top: calc(50% - 0px);
  box-shadow: 0 0 8px 3px #C2E7F9; }
  .sun-toggle-container .moon-craters:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 65px;
    background-color: #C2E7F9;
    border-radius: 50%;
    left: calc(50% - 0px);
    top: calc(50% - 0px);
    box-shadow: 0 0 8px 3px #C2E7F9; }
  .sun-toggle-container .moon-craters:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 75px;
    background-color: #C2E7F9;
    border-radius: 50%;
    left: calc(50% - 0px);
    top: calc(50% - 0px);
    box-shadow: 0 0 8px 3px #C2E7F9; }

.sun-toggle-container {
  transition: all 0.5s ease-out;
  background-color: #C2E7F9;
  height: 100px;
  width: 250px;
  box-shadow: 0 0 12px lightskyblue, inset 0 0 10px 7px lightskyblue;
  top: calc(50% - 50px);
  left: calc(50% - 125px);
  border-radius: 50px;
  position: absolute; }
  .sun-toggle-container:hover {
    padding: 0.5rem 1.5rem;
    background: lightskyblue;
    color: #000; }
    .sun-toggle-container:hover input {
      color: #000; }
  .sun-toggle-container:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 65px;
    background-color: white;
    border-radius: 50%;
    left: calc(50% - -40px);
    top: calc(50% - 10px);
    box-shadow: 0 0 8px 7px white; }
  .sun-toggle-container:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 75px;
    background-color: white;
    border-radius: 50%;
    left: calc(50% - 60px);
    top: calc(50% - 25px);
    box-shadow: 0 0 8px 7px white; }

.sun-label-style {
  position: absolute;
  height: 50px;
  width: 23px;
  display: grid;
  transition: all 0.5s ease-out;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: #FEDE00;
  box-shadow: 0 0 10px 7px #FEBE07, inset 0 0 20px 3px #FEBE07;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer; }
  .sun-label-style:hover {
    padding: 0.5rem 1.5rem;
    background: goldenrod;
    color: #000; }
    .sun-label-style:hover input {
      color: #000; }
  .sun-label-style:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 65px;
    background-color: white;
    border-radius: 50%;
    left: calc(50% - 10px);
    top: calc(50% - 25px);
    box-shadow: 0 0 8px 7px white; }
  .sun-label-style:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 75px;
    background-color: white;
    border-radius: 50%;
    left: calc(50% - -15px);
    top: calc(50% - -15px);
    box-shadow: 0 0 8px 7px white; }

.sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .sun-label-style {
  transition: all 0.5s ease-out;
  left: 160px;
  box-shadow: 0 0 10px 7px #BFC5A3, inset 0 0 20px 3px #BFC5A3; }
  .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .sun-label-style:hover {
    padding: 0.5rem 1.5rem;
    background: black;
    color: #000; }
    .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .sun-label-style:hover input {
      color: #000; }
  .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .sun-label-style:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 3px;
    background-color: white;
    border-radius: 50%;
    left: calc(50% - 70px);
    top: calc(50% - 10px);
    box-shadow: 0 0 8px 3px white; }
  .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .sun-label-style:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: white;
    border-radius: 50%;
    left: calc(50% - 85px);
    top: calc(50% - -25px);
    box-shadow: 0 0 8px 3px white; }

.sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container {
  transition: all 0.5s ease-out;
  background-color: #1D2855;
  box-shadow: 0 0 12px black,  inset 0 0 10px 7px black; }
  .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container:hover {
    padding: 0.5rem 1.5rem;
    background: darkblue;
    color: #000; }
    .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container:hover input {
      color: #000; }
  .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    left: calc(50% - 10px);
    top: calc(50% - 30px);
    box-shadow: 0 0 8px 3px white; }
  .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 2px;
    background-color: white;
    border-radius: 50%;
    left: calc(50% - 35px);
    top: calc(50% - -5px);
    box-shadow: 0 0 8px 3px white; }

.sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .moon-craters {
  transition: all 0.5s ease-out;
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #BFC5A3;
  border-radius: 50%;
  left: calc(50% - -55px);
  top: calc(50% - 15px);
  box-shadow: 0 0 8px 3px #BFC5A3; }
  .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .moon-craters:hover {
    padding: 0.5rem 1.5rem;
    background: lightskyblue;
    color: #000; }
    .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .moon-craters:hover input {
      color: #000; }
  .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .moon-craters:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #BFC5A3;
    border-radius: 50%;
    left: calc(50% - -20px);
    top: calc(50% - -30px);
    box-shadow: 0 0 8px 3px #BFC5A3; }
  .sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .moon-craters:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #BFC5A3;
    border-radius: 50%;
    left: calc(50% - -35px);
    top: calc(50% - -5px);
    box-shadow: 0 0 8px 3px #BFC5A3; }

*,
*:before,
*:after {
  transition: 1s all ease-in-out 1ms; }

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

* {
  box-sizing: border-box; }

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif; }

.container {
  margin: 30px auto;
  width: 350px; }

.container {
  height: 50px;
  border-radius: 0%;
  text-align: center;
  position: relative; }

h1 {
  letter-spacing: 1px;
  margin: 0; }

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px; }

h4 {
  margin: 0;
  text-transform: uppercase; }

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  height: 75px; }

.inc-exp-container > div {
  flex: 1;
  text-align: center; }

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede; }

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0; }

.money.plus {
  color: #2ecc71; }

.money.minus {
  color: #c0392b; }

label {
  display: inline-block;
  margin: 9px 0; }

input[type='text'] {
  background-color: #BFC5A3;
  border: 1px solid #dedede;
  border-radius: 50px;
  display: inline-flex;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  transition: all 0.5s ease-out; }
  input[type='text']:hover {
    padding: 0.5rem 1.5rem;
    background: lightskyblue;
    color: #000; }
    input[type='text']:hover input {
      color: #000; }

input[type='number'] {
  background-color: #BFC5A3;
  border: 1px solid #dedede;
  border-radius: 50px;
  display: inline-flex;
  font-size: 16px;
  padding: 10px;
  width: 50%;
  transition: all 0.5s ease-out; }
  input[type='number']:hover {
    padding: 0.5rem 1.5rem;
    background: lightskyblue;
    color: #000; }
    input[type='number']:hover input {
      color: #000; }

.btn {
  cursor: pointer;
  background-color: pink;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%; }

.btn {
  transition: all 0.5s ease-out; }
  .btn:hover {
    padding: 0.5rem 1.5rem;
    background: #2ecc71;
    color: #000; }
    .btn:hover button {
      color: #000; }

.delete-btn {
  transition: all 0.5s ease-out;
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease; }
  .delete-btn:hover {
    padding: 0.1rem 0.5rem;
    background: #FEBE07;
    color: #000; }
    .delete-btn:hover button {
      color: #000; }

.btn:focus,
.delete-btn:focus {
  outline: 0; }

.list {
  position: relative;
  transition: all 0.5s ease-out;
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px; }
  .list:hover {
    padding: 0.1rem 0.5rem;
    background: #E9F0C6;
    color: #000; }
    .list:hover ul {
      color: #000; }

.balance {
  color: green; }
  .balance h1 {
    color: lightskyblue; }

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0; }

.list li.plus {
  border-right: 5px solid #2ecc71;
  transition: all 0.5s ease-out;
  list-style-type: none;
  padding: 5;
  margin-bottom: 15px; }
  .list li.plus:hover {
    padding: 0.5rem 0.5rem;
    background: lightgreen;
    color: #000; }
    .list li.plus:hover .cube {
      color: #000; }

.list li.minus {
  border-right: 5px solid #c0392b;
  transition: all 0.5s ease-out;
  list-style-type: none;
  padding: 5;
  margin-bottom: 15px; }
  .list li.minus:hover {
    padding: 0.5rem 0.5rem;
    background: pink;
    color: #000; }
    .list li.minus:hover .cube {
      color: #000; }

.list li:hover .delete-btn {
  opacity: 1; }
