$switch-night-color: #1D2855;
$switch-moon-color: #E9F0C6;
$switch-moon-shadow-color: #BFC5A3;
$switch-day-color: #C2E7F9;
$switch-sun-color: #FEDE00;
$switch-sun-shadow-color: #FEBE07;


@mixin easeOut {
  transition: all 0.5s ease-out;
}

@function set-text-color($color) {
  @if(lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}


.sun-input-style[type="checkbox"]{
	display: none;
}
@mixin clouds($top, $left, $height, $width) {
  content: "";
  position: absolute;
  height: $height;
  width: $width;
  background-color: white;
  border-radius: 50%;
  left: calc(50% - #{$left});
  top: calc(50% - #{$top});
  box-shadow: 0 0 8px 7px white;  
}

@mixin stars($top, $left, $height, $width, $color: white) {
  content: "";
  position: absolute;
  height: $height;
  width: $width;
  background-color: $color;
  border-radius: 50%;
  left: calc(50% - #{$left});
  top: calc(50% - #{$top});
  box-shadow: 0 0 8px 3px $color;  
}

.sun-toggle-container .moon-craters{
    @include stars(0px, 0px, 4px, 65px, $switch-day-color);
	&:before{
     @include stars(0px, 0px, 4px, 65px, $switch-day-color);
	}
	&:after{
      @include stars(0px, 0px, 5px, 75px, $switch-day-color);
	}
}

.sun-toggle-container{
		    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: lightskyblue;
      color: set-text-color($switch-moon-shadow-color);
      input {
        color: set-text-color($switch-moon-shadow-color);
      }

}
	background-color: $switch-day-color;
	height: 100px;
	width: 250px;
	box-shadow: 0 0 12px lightskyblue, inset 0 0 10px 7px lightskyblue;
	top: calc(50% - 50px);
    left: calc(50% - 125px);
    border-radius: 50px;
    position: absolute;
    &:after{
      @include clouds(10px, -40px, 4px, 65px);
    }
    &:before{
      @include clouds(25px, 60px, 5px, 75px);	
    }		

}

.sun-label-style{
		    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: goldenrod;
      color: set-text-color($switch-moon-shadow-color);
      input {
        color: set-text-color($switch-moon-shadow-color);
      }

}
	border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: $switch-sun-color;
    box-shadow: 0 0 10px 7px $switch-sun-shadow-color, 
    inset 0 0 20px 3px $switch-sun-shadow-color;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    &:after{
      @include clouds(25px, 10px, 10px, 65px);
    }
    &:before{
      @include clouds(-15px, -15px, 5px, 75px);	
    }		
}

//sun after the button is checked
.sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .sun-label-style{
		    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: black;
      color: set-text-color($switch-sun-shadow-color);
      input {
        color: set-text-color($switch-moon-shadow-color);
      }

}
	left: 160px;
	box-shadow: 0 0 10px 7px $switch-moon-shadow-color, 
	inset 0 0 20px 3px $switch-moon-shadow-color;
    &:after{
      @include stars(10px, 70px, 3px, 3px);
    }
    &:before{
      @include stars(-25px, 85px, 4px, 4px);	
    }
}

//container after checked
.sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container{
		    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: darkblue;
      color: set-text-color($switch-moon-shadow-color);
      input {
        color: set-text-color($switch-sun-shadow-color);
      }

}
	background-color: $switch-night-color;
	box-shadow: 0 0 12px black, 
	inset 0 0 10px 7px black;
	&:after{
      @include stars(30px, 10px, 5px, 5px);
	}
	&:before{
	  @include stars(-5px, 35px, 2px, 2px);
	}
}

.sun-input-style[type="checkbox"]:checked ~ .sun-toggle-container .moon-craters{
      	    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: lightskyblue;
      color: set-text-color($switch-moon-shadow-color);
      input {
        color: set-text-color($switch-sun-shadow-color);
      }

}
      @include stars(15px, -55px, 15px, 15px, $switch-moon-shadow-color);
	&:before{
     @include stars(-30px, -20px, 5px, 5px, $switch-moon-shadow-color);
	}
	&:after{
      @include stars(-5px, -35px, 10px, 10px, $switch-moon-shadow-color);
	}	
}

*,
*:before,
*:after{
	transition: 1s all ease-in-out 1ms;
}

